@model ProjectFood.Models.ViewModels.UserVM.UserFoodItemVM[]

@{
    ViewData["Title"] = "MyKitchen";
}
<style>
    body {
        padding-top: 130px;
    }

    span.point, th.point {
        cursor: pointer;
    }

    textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;

    
}
    #remove:hover{
        color:red
    }

</style>



    <div class="container" style="width: 50%">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12" >
                <h1 style="text-align:center; color:#fed136">LÄGG TILL MATVAROR  I DITT KÖK</h1>
                <h5 style="text-align:center; color:rgb(164, 163, 132)">Vi matchar recept efter dina matvaror och deras utgångsdatum <br /> <br /> <a asp-controller="User" asp-action="Recipes" style="color:rgba(254, 209, 54, 1)">Börja laga mat här!</a></h5>
                
            <br />
            
            <input id="myFood" class="form-control" placeholder="Sök matvara">
            <br />
            

                <table id="log" class="tablesorter table table-striped">

                    @{int index = 0; }
                    <thead><tr> <th class="point">Råvara <span class="glyphicon glyphicon-triangle-bottom"></span></th> <th class="point">Utgångsdatum <span class="glyphicon glyphicon-triangle-bottom"></span></th><th class="pull-left"></th> </tr></thead>
                    <tbody>
                        @{foreach (var item in Model)
            {
                                var date = item.Expires != null && item.Expires.ToString().Length > 9 ? item.Expires.ToString().Substring(0, 10) : "Ej inlagt";
                                var color = item.HasExpired ? "Red" : "Black";

                                <tr id="@index">
                                    <td id="denna">@item.FoodItem.Name</td>
                                    <td id="@index" style="color:@color"><span class="point" onclick="changeDate(@index,'@date')">@date</span></td>
                                    <td><span id="remove" onclick="removeItem('@item.FoodItem.Name', @index)" class="glyphicon glyphicon-remove pull-right point"></span></td>
                                </tr>
                                index++;
                            }
                        }
                    </tbody>
                </table>
                
            
                @*<input type="text" id="datepicker">*@ @*//visas när man trycker så saknar utgång*@

                
                <p id="selectedDateIndex"></p>
                <p id="indexNextRow" hidden="hidden">@index</p>
            </div>
        </div>

