@model ProjectFood.Models.ViewModels.UserVM.MyKitchenVM

@{
    ViewData["Title"] = "MyKitchen";
}
<style>
    body {
        padding-top: 130px;
    }
    td, thead {
        cursor: pointer;
    }
</style>


<div class="ui-widget">
    <label for="myFood">Sök Matvara: </label>
    <input id="myFood">

</div>


<div class="ui-widget" style="margin-top:2em; font-family:Arial">
    MAT
    <table id="log" style="height: 200px; width: 300px;" class="ui-widget-content tablesorter">
        @{int index = 0; }
        <thead><tr> <th>Råvara</th> <th>Utgångsdatum</th><th>Ta bort</th> </tr></thead>
        <tbody>
            @{foreach (var item in Model.MyFood)
            {
                var date = item.Expires != null && item.Expires.ToString().Length > 9 ? item.Expires.ToString().Substring(0, 10) : "Saknar utgång";
                    <tr id="@index">
                        <td id="denna">@item.FoodItem.Name</td>
                        <td id="@index" onclick="changeDate(@index)">@date</td>
                        <td onclick="removeItem('@item.FoodItem.Name', @index)"><span class="glyphicon glyphicon-remove"></span></td>
                    </tr>
                    index++;
                }
            }
        </tbody>
    </table>

    <input type="text" id="datepicker">
    <p id="selectedDateIndex"></p>
    <p id="indexNextRow" hidden="hidden">@index</p>
</div>