@model ProjectFood.Models.ViewModels.RecipeVM.AllUserRecipesVM

@{
    ViewData["Title"] = "Recipes";

    int loopAmount = 0;


    @if (Model.expiringRecipes.Count != 0)
    {

        if (Model.expiringRecipes.Count < 3)
        {
            loopAmount = Model.expiringRecipes.Count;
        }
        else
        {
            loopAmount = 3;

        }
        <div class="container">
            <div class="row">

                <h4 style="color:gray">Recept som innehåller matvaror som snart går ut</h4>

                @for (int i = 0; i < loopAmount; i++)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="padding-top:15px" class="thumbnail">
                            <a href="/User/RecipeDetails/@Model.expiringRecipes[i].RecipeId"><img style="width:250px; height:150px" src="@Model.expiringRecipes[i].Picture" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4>
                                    <a href="/User/RecipeDetails/@Model.expiringRecipes[i].RecipeId"><span style="color: darkorange"> @Model.expiringRecipes[i].Title</span></a>
                                </h4>
                                <b>Dessa varor bör användas snart:</b><br />
                                <ul>
                                    @foreach (var expiringUserIngredient in Model.expiringRecipes[i].ExpiringUserIngredients)
                                    {
                                        foreach (var recipeIngredient in Model.expiringRecipes[i].Ingredients)
                                        {
                                            if (expiringUserIngredient.FoodItem.Name == recipeIngredient.FoodItem.Name)
                                            {
                                                <li>@expiringUserIngredient.FoodItem.Name &nbsp @expiringUserIngredient.Expires.ToString().Substring(0, 10)</li>

                                            }
                                        }
                                    }
                                </ul>

                                @Html.Partial("_PrintRecipeShortInfo", Model.expiringRecipes[i])
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    @if (Model.matchedRecipes.Count < 6)
    {
        loopAmount = Model.matchedRecipes.Count;
    }
    else
    {
        loopAmount = 6;

    }

    <div class="container">
        <div class="row">
            @if (Model.expiringRecipes.Count != 0)
            {
                <h4 style="color:gray">Recept som innehåller dina övriga matvaror</h4>
            }
            else
            {
                <h4 style="color:gray">Recept som matchar dina matvaror</h4>
            }
            @{for (int i = 0; i < loopAmount; i++)
                {
                    if (@Model.matchedRecipes[i].MatchPercentage >= 0.5)
                    {

                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div style="padding-top:15px" class="thumbnail">
                                <a href="/User/RecipeDetails/@Model.matchedRecipes[i].RecipeId"><img style="width:250px; height:150px" src="@Model.matchedRecipes[i].Picture" alt=""></a>
                                <div class="caption">
                                    <h4 class="pull-right"></h4>
                                    <h4>
                                        <a href="/User/RecipeDetails/@Model.matchedRecipes[i].RecipeId"><span style="color: darkorange">@Model.matchedRecipes[i].Title</span></a>
                                    </h4>
                                    @Html.Partial("_PrintRecipeShortInfo", Model.matchedRecipes[i])
                                </div>
                            </div>
                        </div>
                    }
                }
            }

        </div>
    </div>
}


<style>
    body {
        padding-top: 130px;
    }
</style>



