@model List<ProjectFood.Models.ViewModels.RecipeVM.RecipeVM>

@{
    ViewData["Title"] = "Recipes";

    if (Model.Count < 9)
    {
        <div class="container">
            <div class="row">

                @{foreach (var item in Model)
                    {
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img style="width:250px; height:150px" src="@item.Picture" alt="">
                                <div class="caption">
                                    <h4 class="pull-right"></h4>
                                    <h4>
                                        <a href="/User/RecipeDetails/@item.RecipeId">@item.Title</a>
                                    </h4>
                                    @Html.Partial("_PrintRecipeShortInfo", item)
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
       }
       else
       {
                        <div class="container">
                            <div class="row">

                                @{for (int i = 0; i < 9; i++)
                                    {
                                        <div class="col-sm-4 col-lg-4 col-md-4">
                                            <div class="thumbnail">
                                                <img style="width:320px; height:150px" src="@Model[i].Picture" alt="">
                                                <div class="caption">
                                                    <h4 class="pull-right"></h4>
                                                    <h4>
                                                        <a href="/User/RecipeDetails/@Model[i].RecipeId">@Model[i].Title</a>
                                                    </h4>
                                                    @Html.Partial("_PrintRecipeShortInfo", Model[i])
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
     }
}

<style>
    body {
        padding-top: 130px;
    }
</style>



